<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="NodeId" value="2"/>
		<add key="ElectionEndpoints" value="tcp://localhost:5555,tcp://localhost:5556,tcp://localhost:5557,tcp://localhost:5558,tcp://localhost:5559"/>
		<add key="LeaderEndpoints" value="tcp://localhost:6555,tcp://localhost:6556,tcp://localhost:6557,tcp://localhost:6558,tcp://localhost:6559"/>
		<add key="PingEndpoints" value="tcp://localhost:7555,tcp://localhost:7556,tcp://localhost:7557,tcp://localhost:7558,tcp://localhost:7559"/>
		<add key="ProposerEndpoints" value="tcp://localhost:8555,tcp://localhost:8556,tcp://localhost:8557,tcp://localhost:8558,tcp://localhost:8559"/>
		<add key="AcceptorEndpoints" value="tcp://localhost:9555,tcp://localhost:9556,tcp://localhost:9557,tcp://localhost:9558,tcp://localhost:9559"/>

		<add key="ElectionListenerEndpoint" value="tcp://localhost:5555"/>
		<add key="LeaderListenerEndpoint" value="tcp://localhost:6555"/>
		<add key="PingListenerEndpoint" value="tcp://localhost:7555"/>
	</appSettings>
</configuration>